.primary{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    background-color: #e98074;
    min-width: 200px;
    min-height: 48px;
    padding: 0px 15px;
    color: #fff;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .3s;
    border: transparent;
    font-family: Khula, sans-serif;
    font-size: 1rem;
    vertical-align: middle;
    border-radius: 24px;
}
.secondary{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    border: 2px solid #e98074;
    min-width: 200px;
    min-height: 48px;
    padding: 0px 15px;
    color: #fff;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .3s;
    background-color: transparent;
    font-family: Khula, sans-serif;
    font-size: 1rem;
    vertical-align: middle;
    border-radius: 24px;
}

.primary:hover{
    background-color: #ab534a;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .3s;
}
.secondary:hover{
    border: 2px solid #ab534a;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .3s;
}

@media screen and (max-width:740px){
    .primary {
        min-width: 180px;
        min-height: 44px;
        font-size: .9rem;
    }
    .secondary {
        min-width: 180px;
        min-height: 44px;
        font-size: .9rem;
    }
}