.headerUntouched {
    background-color: #2a1b3d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.logoWrapper{
    width: 10%;
    display: flex;
}
.logoWrapper > img{
    cursor: pointer;
    width: 20%;
    filter: invert(3) brightness(2) drop-shadow(2px 4px 6px black);
    mix-blend-mode: exclusion;
}
.headerUntouched > ul{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    list-style-type: none;
}
.headerUntouched>ul>li{
    margin: 0 24px;
}
.headerUntouched > ul > li>a{
    cursor: pointer;
    list-style: none;
    font-family: 'Khula', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    padding: 2rem 0;
}


.headerUntouched > ul>li>a:hover{
   color: #e98074;
   
  
}
.mobMenu{
    display: none;
}
.mobHeader{
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobHeader{
        position: fixed;
        top: 0;
        z-index: 999;
        background-color: #2a1b3d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
    
    }
    .headerUntouched {
      display: none;
    }
   .logoMob{
       cursor: pointer;
       width: 7%;
       filter: invert(3) brightness(2) drop-shadow(2px 4px 6px black);
       mix-blend-mode: exclusion;
   }
    .hamburgerMenu{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 7%;
    }
    .closeButton{
        position: fixed;
        right: .7rem;
        top: .1rem;
        font-family: sans-serif;
        color: #fff;
        font-size: 2.6em;
        z-index: 9999999111;
    }

    .mobMenu{
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        width: 100%;
        top: 0;
        height: 100vh;
        background-color: #140842;
        position: fixed;
        z-index: 99999991;
        overflow-y: scroll;
    }
    .mobMenu>ul>li{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobMenu > ul > li > a{
        width: 100%;
        margin: auto;
        font-family: 'Khula', sans-serif;
        font-size: 2.1rem;
        line-height: 2em;
        font-weight: 900;
        color: #fff;
        text-align: center!important;
        text-transform: uppercase;
    }
    .mobMenuSquareOrnament{
        height: 10vw;
        width: 10vw;
        background-color: #e98074;
        opacity: .8;
        position: absolute;
        top: 14%;
        left: 80%;
        transform: rotate(30deg);
        z-index: -1;
    }
    .mobMenuSquareOrnamentBottom{
        height: 14vw;
        width: 14vw;
        background-color: #d83f87;
        opacity: .8;
        position: absolute;
        bottom: 12%;
        right: 75%;
        z-index: -1;
        transform: rotate(-10deg);
    }
    .mobMenuOrnamentUp{
        height: 40vw;
        width: 40vw;
        background-color: #44318d;
        opacity: .8;
        position: absolute;
        top: -5%;
        left: -10%;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 3px #2a1b3d);
    
    }

    .mobMenuOrnamentDown{
        overflow-y: hidden;
        height: 80vw;
        width: 80vw;
        background-color: #2a1b3d;
        opacity: .8;
        position: absolute;
        bottom: -10%;
        left: 43%;
        z-index: -1;
        border-radius: 50%;
        filter: drop-shadow(-2px -2px 3px #44318d);
    }
  
 
    .mobMenu > ul{
        list-style-type: none;
        padding: 0;
    }
  }